---
const { href } = Astro.props as {
  href: string;
};
---

<a class="entity-metric-link" href={href}>
  <slot />
</a>

<style>
  .entity-metric-link {
    color: #064cfb;
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: 700;
    margin-top: 0;
    text-decoration: none;
  }

  .entity-metric-link::after {
    content: " ->";
  }
</style>
